<footer class="global-footer">
    <div class="row">
        <div class="large-3 medium-3 small-12 columns">
            wibble
        </div>
        <div class="large-3 medium-3 small-12 columns">
            wibble
        </div>
        <div class="large-3 medium-3 small-12 columns">
            <nav>
                <ul class="ftr-nav">
                    <li><a href="#_" title="">About Us</a></li>
                    <li><a href="#_" title="">Site Map</a></li>
                    <li><a href="#_" title="">Terms &amp; Conditions</a></li>
                    <li><a href="#_" title="">Contact Us</a></li>
                </ul>
            </nav>
        </div>
        <div class="large-3 medium-3 small-12 columns">
            <ul class="ftr-social">
                <li><a href="#" class="twitter" title="twitter">Follow us on Twitter</a></li>
                <li><a href="#" class="facebook" title="facebook">Connect with us on Facebook</a></li>
                <li><a href="#" class="linkedin" title="linkedin">Connect with us on LinkedIn</a></li>
                <li><a href="#" class="blog" title="Blog">Read our blog</a></li>
            </ul>
        </div>
    </div>
</footer>