<div class="row">
    <div class="large-4 medium-4 small-12 columns">
        <div style="min-height: 400px; background-color: white;">
            image<br />
            text<br />
            link
        </div>
    </div>
    <div class="large-4 medium-4 small-12 columns">
        <div style="min-height: 400px; background-color: white;">
            image<br />
            text<br />
            link
        </div>
    </div>
    <div class="large-4 medium-4 small-12 columns">
        <div style="min-height: 400px; background-color: white;">
            image<br />
            text<br />
            link
        </div>
    </div>
</div>